*.o
# avr compiled cruft
*.ls[st]
*.list
*.d
*.sym
*.srec
*.hex
*.elf
*.bin
*.eep
*.map
.dep/
.dep.inc

# netbeans
private/

# python droppings
*.pyc
*.pyo

# vim droppings
*.*~
*~
.*.swp

#eagle backups
*.b#?
*.s#?
*.l#?
